.context-menu {
  min-width: 100px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  background-color: var(--bg-secondary);
  background-clip: padding-box;
  border: 2px solid var(--border-primary);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.context-menu-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: var(--text-primary);

  &.active {
    background-color: var(--bg-primary);
  }

  &.disabled {
    color: var(--text-secondary);
    cursor: not-allowed;
  }
}