@use 'contextMenu';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #d7d7d7;
  --text-secondary: #C2C2C2C2;
  --text-contrast: #eedd8a;

  --border-primary: #756f59;
  --border-secondary: #eedd8a;

  --scroll-bg: #080808;
  --scroll-color: #896fa6;

  --bg-primary: #292829;
  --bg-primary-50: #29282960;
  --bg-primary-75: #29282990;
  --bg-primary-90: #292829bb;
  --bg-secondary: #080808;
  --bg-secondary-50: #08080860;
  --bg-secondary-75: #08080890;
  --bg-secondary-90: #080808bb;
  --bg-contrast: #896fa6;
  --bg-danger: #98383f;
}

* {
  color: var(--text-primary);
  border-color: var(--border-primary);

  &:focus {
    outline: none;
  }
}

a {
  color: var(--text-contrast);
}

button, input, select, textarea, .ui {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);
  cursor: pointer;

  &.fade {
    background-color: var(--bg-primary-90);
  }

  &:hover {
    background: var(--bg-contrast);
    border-color: var(--border-secondary);

    & option {
      background: var(--bg-secondary);
      border-color: var(--border-secondary);
    }
  }
}

html {
  background-color: var(--bg-primary);
  background-image: url(../public/backgrounds/ftk2_base.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.support {
  position: fixed;
  right: 10%;
  bottom: 20%;
  overflow: hidden;
  width: 45px;
  transition-duration: 500ms;
  @apply rounded-2xl;

  //&:hover {
  //  width: 145px;
  //  transition-duration: 500ms;
  //}
}

.title {
  background: var(--bg-secondary);
  text-align: center;
  width: 100%;
}

.subtitle {
  width: 100%;
  font-size: 90%;
  background: var(--bg-secondary);
  text-align: left;
  border-bottom: 1px solid var(--border-primary);
  @apply p-1 px-4;
}

.no-select {
  cursor: none;
  pointer-events: none;
  user-select: none;
}

.custom-scroll {
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scroll-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
  }
}

.magic {
  color: #896fa6;

  & * {
    color: #896fa6;
  }
}